<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/js/tube.js"></script>
    <title>Tube App</title>
  </head>
  <body>
   <h1>Tube App</h1>
   <select class="lines">
     <option>Select Line</option>
   </select>
   <span class="status"></span>
   <br>
    <select class="start">
     <option>Start Station</option>
   </select>
    <select class="destination">
     <option>Destination</option>
   </select>
  </body>
</html>
