<!DOCTYPE html>
<html lang="en" ng-app="tube">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="public/css/styles.css"/>
    <link rel="stylesheet" href="public/css/reset.css"/>
    <link rel="stylesheet" href="public/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/angular-route/angular-route.js"></script>
    <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="public/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="public/js/tube.js"></script>
    <script src="public/app.js"></script>
    <script src="public/js/tubeController.js"></script>
    <title>Tube App</title>
  </head>
  <body ng-controller="tubeController as tube">
    <header>
      <div class="logo">
        <p><a href="/#/">TUBE</a></p>
      </div>
      <ul>
        <li class="plan-header"><a href="/#/planner">Plan a journey</a></li>
        <li class="status-header"><a href="/#/">Status updates</a></li>
        <li class="github-header"><a href="https://github.com/katebeavis/tube-api-app" target="blank">Github</a></li>
      </ul>
    </header>
      <div ng-view></div>
  </body>
</html>
