<!DOCTYPE html>
<html lang="en" ng-app="tube">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="public/css/styles.css"/>
    <link rel="stylesheet" href="public/css/reset.css"/>
    <link rel="stylesheet" href="public/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="public/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="public/js/tube.js"></script>
    <script src="public/app.js"></script>
    <script src="public/js/tubeController.js"></script>
    <title>Tube App</title>
  </head>
  <body ng-controller="tubeController as tube">
    <header>
      <ul>
        <li>Plan a journey</li>
        <li>Status updates</li>
        <li><a href="https://github.com/katebeavis/tube-api-app" target="blank">Github</a></li>
      </ul>
    </header>
    <div class="image">
      <img ng-src="public/imgs/tubemap.jpg" alt="Tube map" class="map"/>
    </div>
    <div ng-repeat="line in tube.lines" ng-click="tube.showStations(line)" class="lines">
      <p>{{ line.friendly_name }}: {{ line.status }}</p>
    </div>
    <div ng-repeat="station in tube.stations">
      <p class="stations">{{ station.name }}</p>
    </div>
    <div>
      <form class="form">
        From: <input type="text" placeholder="Choose from autocomplete" g-places-autocomplete ng-model="tube.start" class="start" style="width:150px;">
        To: <input type="text" placeholder="Choose from autocomplete" g-places-autocomplete ng-model="tube.end" class="end" style="width:150px;">
        <input type="submit" value="submit" ng-click="tube.journeyPlanner()" class="button">
      </form>
    </div>
    <div class="time" ng-show="tube.times">
      <p>Duration: {{ tube.times }}</p>
    </div>
    <div class="route" ng-repeat="route in tube.routes">
    <p>By {{ route.mode }} {{ route.line_name }} to {{ route.to_point_name }}</p>
    </div>
  </body>
</html>
