<!DOCTYPE html>
<html lang="en" ng-app="tube">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="public/css/styles.css"/>
    <link rel="stylesheet" href="public/css/reset.css"/>
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="public/js/tube.js"></script>
    <script src="public/app.js"></script>
    <script src="public/js/tubeController.js"></script>
    <title>Tube App</title>
  </head>
  <body ng-controller="tubeController as tube">
    <div ng-repeat="line in tube.lines" ng-click="tube.showStations(line)">
      <p class="lines">{{ line.friendly_name }}: </p><p class="status">{{ line.status }}</p>
    </div>
    <div ng-repeat="station in tube.stations">
      <p class="stations">{{ station.name }}</p>
    </div>
    <div class="time" ng-show="tube.times">
      <p>Duration: {{ tube.times }}</p>    </div>
    <div class="results" ng-repeat="route in tube.routes">
    <p>Mode: {{ route.mode }}</p>
    <p>To: {{ route.to_point_name }}</p>
    <p>To: {{ route.duration }}</p>
    </div>
  </body>
</html>
